body {
 margin:0;
}

.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #F3F3F3;
  color: #283e4a;
  grid-template-rows: 2fr 1fr 12fr 1fr;
  grid-template-areas:
  "header"
  "nav"
  "main"
  "footer"
}

.loading-msg {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.loading-msg span {
  color: #ba1531;
}
