.main {
  grid-area: main;
  overflow-y: scroll;
  border: solid 2px green;
}

.articles h2 {
  text-transform: capitalize;
}

.articles-list {
  grid-area: main;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.article-card {
  list-style: none;
  border: solid #0b0c0c 1px;
  display: grid;
  grid-template-columns: 100px auto;
  width: 90%;
  padding: 8px;
  margin: 5px;
  border-radius: 10px;
  text-decoration: none;
  color: #ba1531;
}

/* set article card to be a grid with two columns, left for votes, right for the rest (100px, auto)*/

.article-card:hover {
  box-shadow: 0px 0px 5px 2px #ba1531;
  transform: scale(1.02);
}

a {
  text-decoration: none;
}

.article-card h4 {
  text-decoration: none;
  color: #ba1531;
  margin: 5px;
}

.article-card p {
  text-decoration: none;
  color: black;
  margin: 5px;
}

.article-card a:hover {
  cursor: pointer;
}
