.nav {
  grid-area: nav;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  background: #778899;
  border: white 1px solid;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.nav a:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .nav a {
      font-size: 15px;
  }
}